#main{
    width:960px;
    margin:50px auto;
}

.container {
  max-width: 1250px;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}

.container_image_index {
  text-align: center;
  position: relative;
}

.text_index_space {
    color: #900C3F;
}

.comment_button {
    /*color: white;*/
}

.bottom-left_index {
  position: absolute;
  bottom: 5px;
  /*color: #ADEFD1FF;*/
  color: #900C3F;
  background-color: white;
  left: 15px;
}

.bottom-right_index {
  top: 5px;
  right: 15px;
  /*color: #ADEFD1FF;*/
  color: #900C3F;
  background-color: white;
  position: absolute;
}

.top-right_index {
  bottom: 5px;
  right: 15px;
  /*color: #ADEFD1FF;*/
  color: #900C3F;
  background-color: white;
  position: absolute;
}





.container_log_in {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.signin_from_main {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.col-4 {
    max-width: 100%;
padding-right: calc(var(--bs-gutter-x) * .5);
padding-left: calc(var(--bs-gutter-x) * .5);
margin-top: var(--bs-gutter-y);
}

#div_type_no_select, 
#div_location_select, 
#div_indoor_select,
#div_indoor_select,
#div_cover_select,
#div_uncover_select {
    display: none;
}

body {

}



a{
    text-decoration:none;
    /*color: cornflowerblue;*/
}

i{
    /*color: cornflowerblue;*/
}

.error_msg{
    color:red;
    font-size: 16px;
}

.message{
    position: absolute;
    font-weight: bold;
    font-size: 28px;
    color: #6495ED;
    left: 262px;
    width: 500px;
    text-align: center;
}

.space_ad {
    text-decoration: none !important;
}

.text-over-image {
    padding: 5px;
}

.card_padding_feature{
    margin: 5px;
}

.text-index-white {
    color: white;
}

.index_padding_button {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.image_fit_index{
    object-fit: cover;
}
